.banner{
  // background-size: cover;
  height: 100vh;
  color: white;
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
  }
  p{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 50px;
    margin-top:25px;
  }
}

.banner-logo{
  max-width: 150px;
}

.logo-background{
  background: RGBA(77, 195, 190, 0.50);
  border-radius: 100px;
  padding: 20px;
}
