.padding-div {
  padding-top: 30px;
  padding-bottom: 10px;
}

.assistantes {
  background-color: RGBA(77, 195, 190, 0.50);
  text-decoration: none;
  p {

    font-size: 20px;
    margin-bottom: 20px;
  }
}

.padding-map {
  padding: 10px 30px;
}

.parallax-container {
  height: 400px;
}
