<div class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p>
        <bold>Cabinet Dentaire De Bombaye</bold></br>
        Chaussée Du Comté De Dalhem 57</br>
        4607 Bombaye</br>
        </p>
      </div>
      <div class="col-xs-4 text-right">
        <p>
        </br>
        ©Larry G 2016
        </p>
      </div>
    </div>
  </div>
</div>
