<div class="wrapper text-center">



      <a href="images/IMG_4536.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4536.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4539.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4539.jpg" class="picture-small" alt="image">
      </a>


      <a href="images/IMG_4541.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4541.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4542.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4542.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4550.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4550.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4552.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4552.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4554.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4554.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4556.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4556.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4567.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4567.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4570.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4570.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4575.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4575.jpg" class="picture-small" alt="image">
      </a>



      <a href="images/IMG_4581.jpg" class="swipebox" title="My Caption">
        <img src="images/IMG_4581.jpg" class="picture-small" alt="image">
      </a>


</div>
<script src="lib/ios-orientationchange-fix.js"></script>
<script src="lib/jquery-2.1.0.min.js"></script>
<script src="src/js/jquery.swipebox.js"></script>
